@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Montserrat:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;

}
body{
    background: url(bg2.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{
    /* border: 12px solid sienna; */
    /* width: 50%; */
    position: absolute;
    color: rgb(248, 73, 4);
    top: 25%;
    left: 38%;
}
.container h1{
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    display: inline-block;
    font-size: 40px;
    border-bottom: 5px solid lightcoral;
    margin-bottom: 15px;
    padding: 13px 0px;
}
.box{
    width: 100%;
    margin: 22px 0px;
    border-bottom: 2px solid purple;
    /* border: 2px solid green; */
}
.box input{
    font-family: 'Baloo 2', cursive;
    background: none;
    width: 75%;
    border: none;
    padding: 5px 10px;
    outline: none;
    color: white;
    font-size: 20px;
}
.box i{
    width: 25px;
    /* padding: 0px 12px; */
    /* float: left; */
    text-align: center;
}
.btn{
    color: white;
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px 0px;
    padding: 10px 21px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    color: purple;
    background: white;
    opacity: 0.5;
}